<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Oxford Words</title>
    </head>
    <body>
        <h1>Oxford Words</h1>
        <nav>
            <ul>
                <li><a href="/words">Words</a></li>
                <li><a href="/words/daily-review">Daily Review</a></li>
            </ul>
        </nav>

        {{{body}}}
    </body>
</html>